body, p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

/* Search Line */

.search-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #D9DADB;
}

.search {
    height: 20px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    height: 100%;
    width: 100%;
}

.search label {
    margin-right: 10px;
}

.search button {
    background: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 0;
    border-right: 1px solid #D9DADB;
    text-decoration: none;
}

.menu-text {
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    color: #262D33;
}

.subscribe {
    display: flex;
    align-items: center;
    margin-right: 25px;
    text-decoration: none;
}

.subscribe p {
    margin: 0;
}

.subscribe-image {
    border-top: 2px solid #BCBFC2;
    border-right: 2px solid #BCBFC2;
    border-left: 2px solid #BCBFC2;
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    align-self: flex-end;
}

.subscribe-header {
    font: 700 12px "Lato";
    color: #262D33;
}

.subscribe-price {
    font-size: 12px;
    color: #939699;
}

.log-in {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4B5157;
    text-decoration: none;
}

.log-in-image {
    max-width: 20px;
    height: auto;
    margin-right: 10px;
}

/* Logo line */

.logo-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bear-brunt {
    display: flex;
    align-items: center;
}

.bear-brunt-text {
    font-family: "Lato", "sans-serif";
    font-size: 14px;
    font-weight: 900;
    color: #000;
}

.header-text {
    display: none;
}

.header-text-svg {
    margin: auto;
    padding: 0 10px;
}

.date {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.weather {
    display: flex;
    align-items: center;
}

.weather-image {
    margin-right: 10px;
}

.date-info, .weather-info {
    font-size: 14px;
    color: #4B5157;
}

/* Navbar line */

.navbar {
    background-color: #262D33;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item {
    padding: 15px 20px;
}

.nav-item a {
    font: 700 14px "Lato";
    color: #fff;
}

.nav-item:hover {
    background-color: #30363D;
}